* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica-now, sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

p {
    text-decoration: none;
}

.header {
    width: 100%;
    background-color: rgb(230, 50, 50);
    display: flex;
    align-items: center;
}

.user {
    color: white;
    font-weight: 700;
    padding: 0.5em 15%;
    width: 50%;
    margin-right: 0;
    white-space: nowrap;
}

.headerControl {
    width: 50%;
    padding-right: 15%;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
}

.controlItem {
    padding-top: 1.3em;
    width: 25%;
    text-align: center;
    color: white;
    align-items: center;
    height: 3.8em;
    margin-left: 0;
}

.controlItem:hover {
    background-color: rgb(202, 43, 43);
}

.sakrij {
    display: none;
}