#main {
    display: flex;
    background-color: rgb(240, 240, 240);
    width: 70vw;
    margin: 0 auto;
    flex-direction: column;
}

.proizvodContainer {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.proizvodStavka {
    width: 25%;
    height: 35vh;
    background-color: white;
    padding: 1em;
    margin: 0;
    transition-property: background-color, opacity;
    transition-duration: 300ms, 300ms;
    
}

.proizvodStavka:hover {
    padding: 0.8em;
    border: 0.2em rgb(230, 50, 50) solid;
    opacity: 90%;
}

@media screen and (max-width:1000px) {
    .proizvodStavka {
        height: 25vh;
        width: 33.33%;
    }
}