* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

#main {
    display: flex;
    background-color: rgb(240, 240, 240);
    width: 70vw;
    margin: 0 auto;
    flex-direction: column;
}

#header {

}

.proizvodContainer {
    display: flex;
    align-items: left;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    gap: 0;
}

.proizvodStavka {
    width: 25%;
    background-color: antiquewhite;
    padding: 1em;
    margin: 0;
    float: left;
}

.proizvodStavka:hover {
    background-color: rgb(226, 211, 192);
}




.a1 {
    color: red;
}

.a2 {
    color: blue;
}

.a3 {
    color: green;
}

.a4 {
    color: yellow;
}

.a5 {
    color: purple;
}