body {
    background-color: white;
}

#main {
    display: flex;
    background-color: rgb(240, 240, 240);
    width: 70vw;
    margin: 0 auto;
    flex-direction: column;
}

#header {
    width: 100%;
    background-color: rgb(239, 41, 41);
}

.proizvodContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.proizvodStavka {
    width: 25%;
    background-color: antiquewhite;
    padding: 1em;
    margin: 0;
    float: left;
    transition-property: background-color;
    transition-duration: 300ms;
    
}

.proizvodStavka:hover {
    
    background-color: rgb(226, 211, 192);
}




.a1 {
    color: red;
}

.a2 {
    color: blue;
}

.a3 {
    color: green;
}

.a4 {
    color: yellow;
}

.a5 {
    color: purple;
}